.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      text-align: left;
    }
  }
}

.footer-address__container {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    width: 231px;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address__item {
  &:not(:first-child) {
    margin-top: 8px;

    @media screen and (min-width: 1200px) {
      margin-top: 9px;
    }
  }
}

.footer-address__link--geo {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  @extend %resets-link;

  transition: color 250ms var(--main-timing-function);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.footer-address__link--email,
.footer-address__link--phone {
  @extend %resets-link;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--main-timing-function);

  &:hover,
  &:focus {
    color: var(--active-color);
  }
}

.footer-social__container {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--main-timing-function);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
}

.footer-social__icon {
  fill: #ffffff;
}

/* FORM */

.footer-form__container {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-form__label {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px 15px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-left: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: unset;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 20px;

  @media screen and (min-width: 1200px) {
    margin: 0 0 0 20px;
  }

  &:hover,
  &:focus {
    background-color: #188ce8;
    transition: background-color 250ms var(--main-timing-function);
  }
}

.footer-form__icon {
  margin-left: 10px;
  fill: #ffffff;
}