.header {
   border-bottom: #ececec solid 1px;

   & .container {
      display: flex;
      align-items: center;

      @media screen and (max-width: 767px) {
         height: 60px;
         position: relative;
      }
   }
}
