.menu__btn {

   display: inline-flex;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;

   & .icon-menu-close {
      display: none;
   }

   &.is-open .icon-menu-close {
      display: block;
   }

   &.is-open .icon-menu-open {
      display: none;
   }

   @media screen and (min-width:768px) {
      display: none;
   }
}

.menu-container {
   display: flex;

   @media screen and (max-width:767px) {
      display: none;

      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;

      padding: 20px;
      text-align: center;

      &.is-open {
         display: block;
      }
   }
}