.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(41 / 36);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team__card {
  width: calc((100%-30px * 3) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.card__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--main-timing-function);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--main-timing-function);

  .social__link:hover &,
  .social__link:focus & {
    fill: #ffffff;
  }
}
