/* CSS Custom Properties */
:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --nav-text-color: #212121;
  --active-color: #2196f3;
  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
